body {
    text-align: center;
}

h1 {
    position: relative;
    color: #a982ff;
    font-size: 50px;
    font-family: serif;
    font-weight: bold;
}

h2 {
    font-family: Oswald;
    color: black;
}

p {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 20px solid white;
    background-color: white;
    max-width: 500px;
    font-size: 20px;
    text-align: justify;
    text-overflow: clip;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    word-spacing: normal;
}

html {
    background-image: linear-gradient(
        to right, rgb(255, 124, 124) , 
        rgb(255, 171, 103) , 
        rgb(255, 233, 107) , 
        rgb(151, 255, 151) , 
        rgb(124, 222, 255) , 
        rgb(199, 142, 255)
        );
    align-items: center;
}

img {
    height: 500px;
    width: 500px;
    border-radius: 25px;
    align-content: center;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

a {
    font-size: 50px;
    color: lightgrey;
    font-family: Oswald;
    font-style: normal;
    border-style: solid;
    border-color: black;
    background-color: black;
    border-radius: 20px;
    text-decoration: none;
}