@import url("https://fonts.googleapis.com/css?family=Quicksand");
@import url("https://fonts.googleapis.com/css?family=Indie+Flower");

body {
    text-align: center;
}

h1 {
    position: relative;
    color: #ffffff;
    font-size: 50px;
    font-family: 'Indie Flower';
    /* font-weight: bold; */
}

h2 {
    font-family: 'Quicksand';
    color: black;
}

.description {
    border-radius: 20px;
    border-style: solid;
    background-color: rgba(255, 255, 255, 0.75);
    border-color: rgba(255, 255, 255, 0.75);
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    max-width: 750px;
}

p {
    font-family:'Quicksand';
    font-size: 16px;
    text-align: justify;
    margin: 12px;
    word-spacing: 0.5px;
}

html {
    background-image: linear-gradient(
        to right, rgb(255, 124, 124) , 
        rgb(255, 171, 103) , 
        rgb(255, 233, 107) , 
        rgb(151, 255, 151) , 
        rgb(124, 222, 255) , 
        rgb(199, 142, 255)
        );
    align-items: center;
}

img {
    border-radius: 25px;
    align-content: center;
    box-shadow: 2px 2px 25px rgba(0, 0, 0, 0.3);
    width: 55%;
}

a {
    font-size: 40px;
    color: black;
    font-family: 'Indie Flower';
    text-decoration: none;
    margin: 20px;
}

.art-button {
    background-color: white;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
}