@import url('https://fonts.googleapis.com/css2?family=Playwrite+NZ+Basic:wght@100..400&display=swap');

body {
    text-align: center;
}

h1 {
    position: relative;
    color: #ffffff;
    font-size: 50px;
    font-family: 'Playwrite New Zealand Basic';
    /* font-weight: bold; */
}

h2 {
    font-family: 'Playwrite New Zealand Basic';
    color: black;
}

.description {
    border-radius: 20px;
    border-style: solid;
    background-color: rgba(255, 255, 255, 0.75);
    border-color: rgba(255, 255, 255, 0.75);
    margin-left: auto;
    margin-right: auto;
    max-width: 750px;
}

p {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    text-align: justify;
    position: relative;
}

html {
    background-image: linear-gradient(
        to right, rgb(255, 124, 124) , 
        rgb(255, 171, 103) , 
        rgb(255, 233, 107) , 
        rgb(151, 255, 151) , 
        rgb(124, 222, 255) , 
        rgb(199, 142, 255)
        );
    align-items: center;
}

img {
    height: 500px;
    width: 500px;
    border-radius: 25px;
    align-content: center;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

a {
    font-size: 50px;
    color: lightgrey;
    font-family: Oswald;
    font-style: normal;
    border-style: solid;
    border-color: black;
    background-color: black;
    border-radius: 20px;
    text-decoration: none;
}